.intro {
    position: relative;
    top: 3rem;
}

.intro__img {
    box-shadow: var(--bs);
}

.section__subtitle--intro {
    display: inline-block;
}

@media (min-width: 600px) {

    .intro {
        display: grid;
        width: min-content;
        margin: 0 auto;
        grid-column-gap: 1em;
        grid-template-areas: 
            "img title"
            "img subtitle";
        grid-template-columns: min-content max-content;
    }
    
    .intro__img {
        grid-area: img;
        min-width: 250px;
        position: relative;
        z-index: 2;
    }    
    
    .section__subtitle--intro {
        align-self: start;
        grid-column: -1 / 1;
        grid-row: 2;
        text-align: right;
        position: relative;
        left: -1.5em;
        width: calc(100% + 1.5em);
    }
}

/*  My services section  */

.my-services {
    background-image: url(../../assets/images/services-bg.jpg);
    background-size: cover;
    /* background-blend-mode: multiply; */
    color: var(--clr-light);
    text-align: center;
}

.section__title--services {
    color: var(--clr-dark); 
    font-size: var(--fs-h1);
    position: relative;
    border: 1px solid var(--clr-accent);
    background-color: var(--clr-accent);
    bottom: 3rem;
}

.section__title--services::after {
    display: block;
    height: 1px;
    margin: 1em 1em;
    background-color: var(--clr-light);
    opacity: 0.25;
}

.services {
    margin: 4rem;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-gap: 2em;
}

.service {
    border: 5px solid var(--clr-accent);
    align-items: center;
}

.service > * {
    padding: 1em;
}

.service > *:first-child {
    font-size: 1.8em;
}


@media (min-width: 800px) {
    .services {
        display: flex;
        max-width: 1000px;
        margin-left: auto;
        margin-right: auto;
    }
    
    .service + .service {
        margin-left: 2em;
    }
}